.content {
  padding: 16px;
}

.oppgavedpanel {
  padding: 2rem;
  border-radius: 8px;
}

@media screen and (max-width: 720px) {
  .oppgavedpanel {
    padding: 1rem;
  }
}

@media screen and (max-width: 476px) {
  .oppgavedpanel {
    padding: 0.25rem;
  }
}
