.content {
  padding: 16px;
}

.utkastpanel {
  padding: 2rem;
  border-radius: 8px;
}

@media screen and (max-width: 720px) {
  .utkastpanel {
    padding: 1rem;
  }
}

@media screen and (max-width: 476px) {
  .utkastpanel {
    padding: 0.25rem;
  }
}
