.content {
  padding: 1rem;
}

.buttons {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  gap: 1.45em;
}

.utkastpanel {
  padding: 2rem;
  border-radius: 8px;
}

@media screen and (max-width: 720px) {
  .utkastpanel {
    padding: 1rem;
  }
}

@media screen and (max-width: 476px) {
  .utkastpanel {
    padding: 0.25rem;
  }
}
