.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 8px;
}

.container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.lightBlueBackground {
  background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
}

.lightPinkBackground {
  background-color: #FFE6E6;
}

.lightGrayBackground {
  background-color: #F1F1F1;
}

.lightGreenBackground {
  background-color: var(--navds-global-color-green-100);
}

@media screen and (max-width: 720px) {
  .section {
    padding: 2rem;
  }
}

@media screen and (max-width: 476px) {
  .section {
    padding: 1rem;
  }
}
